<div class = "container border bg-light  mb-2">
	<h6 class="text-secondary text-right">Заказ №{{ order['vendorOrderNumber'] }} от {{ order['createDate'] }}</h6>
	<div class="row mb-2 border-bottom">
		<div class="col-sm overflow-hidden">
			<span class="d-sm-none font-weight-bold">Доставка: </span>
			<h6>
				{{ order['billingPerson']['name'], order['billingPerson']['countryName'], order['billingPerson']['stateOrProvinceName'], order['billingPerson']['city'], order['billingPerson']['street'], order['billingPerson']['street'] }}
			</h6>
		</div>
		<div class="col-sm overflow-hidden">
			<span class="d-sm-none font-weight-bold">Email: </span>
			<h6>
				{{ order['email'] }}
			</h6>
		</div>
		<div class="col-sm overflow-hidden">
			<span class="d-sm-none font-weight-bold">Комментарий: </span>
			<h6>
				{{ order['orderComments'] }}
			</h6>
		</div>
	</div>
	<div class="row mb-2 border-bottom">
		<div class="col-sm overflow-hidden text-right">
			<h6>
				Итоговая сумма: {{ order['total'] }}
			</h6>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h6 class="panel-title">
				<a data-toggle="collapse" href="#products{{ order['vendorOrderNumber'] }}">Список товаров</a>
			</h6>
		</div>
		<div class="panel-collapse collapse" id="products{{ order['vendorOrderNumber'] }}">
			{% for product in order['items'] %}
				{% include '_product.html' %}
			{% endfor %}
		</div>
	</div>
</div>


