{% extends "base.html" %}

{% block navigation %}
	<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsedForm" aria-expanded="false" aria-controls="collapsedForm">
		Добавить магазин
	</button>
{% endblock %}
{% block content %}
	<div class="container my-1 bg-light">
		<div class="collapse"  id="collapsedForm">
			<form method="POST" action="{{ url_for('main.AddStore') }}">
				{{ add_form.csrf_token() }}
				<div class="form-row">
					<div class="form-group col-md-3">
						{{ add_form.name.label }}
						{{ add_form.name(class_ = 'form-control') }}
					</div>
					<div class="form-group col-md-3">
						{{ add_form.email.label }}
						{{ add_form.email(class_ = 'form-control') }}
					</div>
					<div class="form-group col-md-3">
						{{ add_form.password.label }}
						{{ add_form.password(class_ = 'form-control') }}
					</div>
					<div class="form-group col-md-3">
						{{ add_form.plan.label }}
						{{ add_form.plan(class_ = 'form-control') }}
					</div>
				</div>
				<div class="form-group">
					{{ add_form.submit(class_ = 'btn btn-primary mb-1') }}
				</div>
			</form>
		</div>
	</div>
	<div class="container border bg-light my-1">
		<h6 class="text-secondary text-right">{{ current_user.orders_date.strftime("%d-%m-%Y, %H:%M:%S") }} Центральный хаб</h6>
		<div class="row my-1 d-none d-sm-flex font-weight-bold">
			<div class="col">
				&nbsp;
			</div>
			<div class="col">
				partners_key
			</div>
			<div class="col">
				client_id
			</div>
			<div class="col">
				client_secret
			</div>
			<div class="col">
				Проверка API
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				<a href="https://store{{ current_user.hub_id }}.shopsettings.com">Центральный хаб</a>
			</div>
			<div class="col-sm overflow-hidden">
				<span class="d-sm-none font-weight-bold">partners_key</span>
				{{ current_user.partners_key }}
			</div>
			<div class="col-sm overflow-hidden">
				<span class="d-sm-none font-weight-bold">client_id</span>
				{{ current_user.client_id }}
			</div>
			<div class="col-sm overflow-hidden">
				<span class="d-sm-none font-weight-bold">client_secret</span>
				{{ current_user.client_secret }}
			</div>
			<div class="col-sm text-right">
				<a role="button" class="btn btn-primary text-white my-1" href="{{ url_for('main.ProcessOrders') }}">Заказы</a><br>
				<a role="button" class="btn btn-primary text-white my-1" href="{{ url_for('main.ProcessProducts') }}">Товары</a><br>
				<a role="button" class="btn btn-primary text-white my-1" href="{{ url_for('main.CleanProducts') }}">Очистка</a><br>
				<a role="button" class="btn btn-primary text-white my-1" href="{{ url_for('main.UpdateProducts') }}">Обновление</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				<a href="http://84.201.139.143/static/data/{{ current_user.id }}.csv">CSV парсинг</a>
			</div>
			<div class="col-sm text-right">
				<form method="POST"  enctype="multipart/form-data" action="{{ url_for('main.UploadProducts') }}" id="UploadProductsForm">
					{{ upload_form.csrf_token }}
					Товары постащика: 
					<label for="products">
						<span class="btn btn-primary mb-1">
							<img class="octicon" src="http://84.201.139.143/static/octicons/cloud-upload.svg" alt="upload">
						</span>
					</label>
					<input id="products" type="file" name="products" class="d-none" accept=".csv">
				</form>
			</div>
		</div>
	</div>
	<div class="container border bg-light my-1">
		<div class="row my-1">
			<div class="col-sm">
				<input class="form-control" id="storeFilter" type="text" placeholder="Фильтр..">
			</div>
			<div class="col-sm">
				<h6 class="text-secondary text-right">Магазины агентов</h6>
			</div> 
		</div>
		<div class="row my-1 d-none d-sm-flex font-weight-bold">
			<div class="col-3">
				&nbsp;
			</div>
			<div class="col-3">
				Email
			</div>
			<div class="col-3">
				Владелец
			</div>
			<div class="col">
				Заказов
			</div>
			<div class="col-2">
				&nbsp;
			</div>
		</div>
		<div id="storesListInner">
			{% for store in stores_info %}
				<div class="row my-1 border-bottom">
					<div class="col-sm-3">
						<a href="{{ store['generalInfo']['storeUrl'] }}">{{ store['settings']['storeName'] }}</a>
					</div>
					<div class="col-sm-3 overflow-hidden">
						<span class="d-sm-none font-weight-bold">Email</span>
						{{ store['account']['accountEmail'] }}
					</div>
					<div class="col-sm-3 overflow-hidden">
						<span class="d-sm-none font-weight-bold">Владелец</span>
						{{ store['account']['accountName'] }}
					</div>
					<div class="col-sm">
						<span class="d-sm-none font-weight-bold">Заказов</span>
						{{ store['orders_count'] }}
					</div>
					<div class="col-sm-2 text-right">
						<a role="button" class="btn btn-primary" href="{{ url_for('main.FillUpStore', store_id = store['generalInfo']['storeId']) }}"><img class="octicon" src="http://admin.pushkind.com/static/octicons/repo-push.svg" alt="Наполнить"></a>
						<a role="button" class="btn btn-primary" href="{{ url_for('main.ShowStore', store_id = store['generalInfo']['storeId']) }}"><img class="octicon" src="http://admin.pushkind.com/static/octicons/eye.svg" alt="Просмотр"></a>
						<a role="button" class="btn btn-danger" href="{{ url_for('main.DeleteStore', store_id = store['generalInfo']['storeId']) }}" onclick="return confirm('Удалить?')"><img class="octicon" src="http://admin.pushkind.com/static/octicons/dash.svg" alt="Удалить"></a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block scripts %}

<script>
	$(document).ready(function(){
		$("#storeFilter").on("keyup", function() {
			var value = $(this).val().toLowerCase();
			$("#storesListInner div.row").filter(function() {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});
		});
		$('#products').on('change',function(){
			$('#UploadProductsForm').submit();
		})
	});
</script>
{%endblock %}